.MF-main-container {
	background-color: ivory;
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	/* overflow: hidden; */
}
.form-container {
	height: 60%;
	width: 40%;
	/* display: flex; */
	background-color: black;
	position: relative;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10%;
}
.logo-container {
	height: 50%;
	width: 50%;
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	justify-content: center;
	align-items: center;
}
.logo {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0%;
	left: 0%;
	justify-content: center;
	align-items: center;
}
.input-group {
	height: 40%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	top: 0%;
	left: 0%;
	width: 100%;
}
.input-box {
	/* border-radius: 5px;
    width: 100%; */
	background-color: #99e74c;
	border-radius: 0.5em;
	box-shadow: 0 0.2em 0.5em #99e74c;
	padding: 0.125em 0.75em;
	padding-inline-end: 2.375em;
	width: 50%;
	height: 2.25em;
}
.create-info {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
}
.create-newbtn {
	text-decoration: none;
	color: aqua;
}
.create-newbtn:hover {
	text-decoration: none;
	color: #99e74c;
}
.join-btn {
	background: ivory;
	height: 20%;
	width: 15%;
	font-weight: bolder;
	border-radius: 0.5em;
}
.join-btn:hover {
	background: aqua;
	height: 20%;
	width: 15%;
	font-weight: bolder;
	border-radius: 0.5em;
}
