.mf-video-container {
	min-height: 80vh;
	min-width: 20vw;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10vh;
	left: 80vw;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
}
